
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-xl-4,
.col-md-6,
.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.our_department_area {
    background: #F5FBFF;
    padding-top: 120px;
    padding-bottom: 90px;
}

    /* line 5, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
    .our_department_area .single_department {
        background: #fff;
        margin-bottom: 30px;
        -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.04);
    }

        /* line 9, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
        .our_department_area .single_department .department_thumb {
            overflow: hidden;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

            /* line 13, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
            .our_department_area .single_department .department_thumb img {
                width: 100%;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                -webkit-transition: 0.3s;
                -moz-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
            }

        /* line 19, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
        .our_department_area .single_department .department_content {
            padding: 22px 30px 24px 30px;
        }

            /* line 21, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
            .our_department_area .single_department .department_content h3 {
                margin-bottom: 0;
            }

                /* line 23, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
                .our_department_area .single_department .department_content h3 a {
                    font-size: 22px;
                    color: #1F1F1F;
                    line-height: 33px;
                    font-weight: 500;
                }

                    /* line 28, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
                    .our_department_area .single_department .department_content h3 a:hover {
                        color: #5DB2FF;
                    }

            /* line 33, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
            .our_department_area .single_department .department_content p {
                font-size: 16px;
                line-height: 28px;
                color: #727272;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            /* line 40, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
            .our_department_area .single_department .department_content a.learn_more {
                color: #5DB2FF;
                font-size: 16px;
            }

                /* line 43, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
                .our_department_area .single_department .department_content a.learn_more:hover {
                    text-decoration: underline;
                }

        /* line 50, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_department.scss */
        .our_department_area .single_department:hover .department_thumb img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
